@tailwind base;
@tailwind components;
@tailwind utilities;

/* // docs
// :background for bg,
// :foreground for text,
// :primary,secondary use for button,
// :effect is for background gradient color,
// :ring for border or shadow
// :accent are bg color use for select drowndown fields */

:root {
  --selection: 100; /*//z-index*/
  --popOver: 110;
  --navbar: 110;
  --sidebar: 111;
  --drawer: 120;
  --modal: 120;
  --radius: 0.5rem;
  /* color */
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240, 5.9%, 10%;
  --radius: 0rem;
  --effect: 240, 5.9%, 10%, 0.1;
}

/* // html,
// body,
// #__next {
//   height: 100%;
//   margin: 0;
//   padding: 0;
// } */
/* Apply scrollbar styles */
/* * {
  scrollbar-width: thin;
  scrollbar-color: hsla(var(--ring), 0.1) hsl(var(--effect));
} */

::-webkit-scrollbar {
  width: 8px;
  scrollbar-width: thin;
  scrollbar-color: hsla(var(--ring), 0.1) hsl(var(--effect));
}

::-webkit-scrollbar-track {
  background: hsla(var(--ring), 0.1);
  border-radius: var(--radius);
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: hsla(var(--ring), 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(var(--ring), 0.7);
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: hsl(var(--primary));
}
@layer base {
  body {
    @apply relative m-0 p-0 prose prose-headings:text-foreground prose-headings:m-0 prose-headings:p-0;
    @apply h-full w-full bg-background text-foreground;

    /* @apply bg-gradient-to-r from-background via-effect-sm via-50% to-background; */
  }
  .bgPrimary {
    @apply bg-primary text-primary-foreground hover:bg-primary/90 duration-150;
  }
  .textPrimary {
    @apply !text-primary hover:!text-primary/90 duration-150;
  }
  .bordering {
    @apply rounded-lg border border-border hover:border-effect-2xl  active:border-primary focus:border-primary shadow-sm shadow-effect-lg;
  }
  .Transition {
    @apply transition-all duration-300 ease-in-out;
  }
  input,
  textarea {
    @apply bg-transparent !outline-none ps-2;
  }
  .checkbox {
    @apply appearance-none w-[1em] h-[1em] rounded border-2 border-muted-foreground/50  focus:border-muted-foreground/50  active:border-muted-foreground/50 hover:!border-effect-2xl;
  }

  .checkbox:checked {
    @apply bg-primary text-primary-foreground border  relative;
  }

  .checkbox:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    color: hsl(var(--primary-foreground));
    transform: translate(-50%, -50%);
  }
  .iconPrimary {
    @apply text-primary  duration-150 border-foreground;
  }

  .select-open {
    @apply absolute w-full max-h-64 overflow-y-auto z-50 rounded-lg;
  }
}

/* // React Day Picker */
.day:hover {
  background-color: hsl(var(--accent)) !important;
}

/* styles.css */
.header-transition {
  transition:
    top 0.3s ease,
    transform 0.3s ease;
}

.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  transform: translateY(0);
}

.header-hidden {
  position: fixed;
  top: -100px; /* Adjust based on your header height */
  width: 100%;
  transform: translateY(0);
}
body {
  font-family: var(--font-geist-sans), sans-serif;
}

/* Apply a different font to code or monospace text */
code,
pre {
  font-family: var(--font-geist-mono), monospace;
}
/* for input number change to textfield style */
.input-textfield::-webkit-outer-spin-button,
.input-textfield::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-textfield {
  -moz-appearance: textfield;
}
